
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 - Forbidden access</title>
    <link rel="stylesheet" href="/TemplateFolder/Error403/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="component PC"></div>
        <div class="component connection">
            <div class="dot first"></div>
            <div class="dot second"></div>
            <div class="dot third"></div>
        </div>
        <div class="component server">
            <div class="slot"></div>
            <div class="slot"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
        <a href="javascript:history.go(-1)">Önceki Sayfaya Geri Dön</a>
        @*<a href="javascript:history.back()">Back To Homepage</a>
        <a href="javascript:history.go(1)">Back To Homepage</a>
        <a href="javascript:history.forward()">Back To Homepage</a>*@
    </div>
    <!-- partial -->
    <script src="/TemplateFolder/Error403/dist/script.js"></script>

</body>
</html>
